div.media-main {
	margin-top: 8px;
}

img.comment-img {
	border-radius: 2px;
	float: left;
}

div.comment-input {
	vertical-align: middle;
	text-align: right; 
	padding-bottom: 5px;
}

div.c-comment-input {
	vertical-align: middle;
	text-align: right; 
	padding-bottom: 5px;
	padding: 10px;
	background-color: #f7f7f9;
	border: 1px solid #e0e0e0;
}

textarea.comment-button {
	height: 45px; 
	width: 93%; 
	background-color: #ffffff;
	border: 1px solid #cacaca;
	margin-bottom: 5px;
}

div.comment-dlt-button {
	text-align: right;
	padding-top: 5px;
}

div.comment-img {
	width: 7%; 
	float: left;	
}

div.comment-txt {
	width: 93%;
	border-radius: 5px; 
	padding: 10px;
	background-color: #f7f7f9;	
}

div.c-comment-div {
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #cacaca;
}

.alert-comment {
	-webkit-animation-name: alert-comment-ani;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-direction: ease-in-out;
	animation-name: alert-comment-ani;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: alternate;
}

@keyframes alert-comment-ani {
	0% {
		background: #fff2f2;
	}
	100% {
		background: white;
	}
}

@-webkit-keyframes alert-comment-ani {
	0% {
		background: #fff2f2;
	}
	100% {
		background: white;
	}
}
