.right-symbol-profile-button {
	cursor: pointer;
	float: right;
	font-size: 20px;
	margin-right: 10px;
	color:#d4ebff;
}

.right-symbol-works-button {
	cursor: pointer;
	float: right;
	font-size: 20px;
	margin-right: 10px;
	color:#ffe8e8;
}

.left-symbol-button {
	cursor: pointer;
	float: left;
	font-size: 20px;
	margin-right: 5px;
}

.menu-works-button {
	color:#a57b7b;
}

/* mylist - start*/
#aProfileId {
	width: 95%; 
	height: 80px; 
	margin-top: 10px; 
	margin-bottom: 15px; 
	background-color: #7b8ca5; 
	color: white;
	padding-top: 30px;
}

#aProfileId:hover {
	width: 95%; 
	height: 80px; 
	margin-top: 10px; 
	margin-bottom: 15px; 
	background-color: #9da9bb; 
	color: white;
	padding-top: 30px;
}

#aWorksId {
	width: 95%; 
	height: 80px;
	margin-bottom: 5px; 
	background-color: #a57b7b; 
	color: white;
	padding-top: 30px;
}

#aWorksId:hover {
	width: 95%; 
	height: 80px;
	margin-bottom: 5px; 
	background-color: #cbb0b0; 
	color: white;
	padding-top: 30px;
}
/* mylist - end*/

.btn-more-view {
	background-color: #fff;
	border: 1px solid;
	padding: 20px 50px 20px 50px;
	border-radius: 6px;
	border-color: #a57b7b;
 font-weight: bold;
}

#closeButton {
    float:right;
    display:inline-block;
    padding:2px 7px;
    background:#d89797;
	cursor: pointer;
}

#closeButton:hover {
    float:right;
    display:inline-block;
    padding:2px 7px;
    background:#d89797;
   	color:#fff;
	cursor: pointer;
}
