<?xml version="1.0" encoding="UTF-8" ?>
<config>

	<slavedb>
		<cnt>2</cnt>
	</slavedb>

	<paging>
		<row>
			<ten>10</ten>
			<tenfive>15</tenfive>
			<twenty>20</twenty>
			<twentyfive>25</twentyfive>
			<thirty>30</thirty>
			<thirtyfive>35</thirtyfive>
		</row>
		<limit>
			<total>2000</total>
		</limit>
	</paging>

	<default>
		<img>
			<user>/static/apps/img/defaultUser.png</user>
			<bg>/static/apps/img/defaultBg01.png</bg>
		</img>
		<abilists>
			<five>5</five>
			<three>3</three>
		</abilists>
	</default>

	<upload>
		<path>
			<img>
				<avatar>/img/avatar/</avatar>
				<bg>/img/bg/</bg>
				<posts>/img/posts/</posts>
				<temp>/img/temp/</temp>
			</img>
			<files>/files/</files>
			<temp>
				<plugins>/temp/plugins/</plugins>
				<posts>/temp/posts/</posts>
			</temp>
			<resumes>/resumes/</resumes>
		</path>
	</upload>

	<files>
		<file>
			<ext>aac</ext>
			<ext>ace</ext>
			<ext>ai</ext>
			<ext>aut</ext>
			<ext>avi</ext>
			<ext>bin</ext>
			<ext>bmp</ext>
			<ext>cad</ext>
			<ext>cdr</ext>
			<ext>css</ext>
			<ext>db</ext>
			<ext>dmg</ext>
			<ext>doc</ext>
			<ext>docx</ext>
			<ext>dwf</ext>
			<ext>dwg</ext>
			<ext>eps</ext>
			<ext>exe</ext>
			<ext>flac</ext>
			<ext>gif</ext>
			<ext>hlp</ext>
			<ext>htm</ext>
			<ext>html</ext>
			<ext>ini</ext>
			<ext>iso</ext>
			<ext>java</ext>
			<ext>jpg</ext>
			<ext>js</ext>
			<ext>mkv</ext>
			<ext>mov</ext>
			<ext>mp3</ext>
			<ext>mp4</ext>
			<ext>pdf</ext>
			<ext>php</ext>
			<ext>png</ext>
			<ext>ppt</ext>
			<ext>ps</ext>
			<ext>psd</ext>
			<ext>rar</ext>
			<ext>rss</ext>
			<ext>rtf</ext>
			<ext>svg</ext>
			<ext>swf</ext>
			<ext>sys</ext>
			<ext>tiff</ext>
			<ext>txt</ext>
			<ext>xls</ext>
			<ext>xlsx</ext>
			<ext>zip</ext>
		</file>
	</files>

	<template>
		<plugins>
			<from>
				<path>templates/temp/abilists</path>
				<filename>plugins.ftlh</filename>
			</from>
			<to>
				<path>templates/temp/abilists/</path>
				<filename>plugins.ftlo</filename>
			</to>		
		</plugins>
		<noti>
			<greeting>
				<ko>templates/temp/greeting_ko.txt</ko>
				<en>templates/temp/greeting_en.txt</en>
				<ja>templates/temp/greeting_ja.txt</ja>
			</greeting>
		</noti>
	</template>

	<email>
		<!-- Not used -->
		<from>
			<address>heyguybug@gmail.com</address>
		</from>
		<to>
			<address>abilists@gmail.com</address>
		</to>
		<!-- Not used -->
		<id>heyguybug@gmail.com</id>

		<pwd></pwd>
		<signup>
			<path>templates/apps/email</path>
			<filename>signup.ftlh</filename>
			<outfile>templates/apps/email/signup.ftl</outfile>
			<url>http://localhost/login/confirmSingup</url>
		</signup>
		<resetpwd>
			<path>templates/apps/email</path>
			<filename>resetpwd.ftlh</filename>
			<outfile>templates/apps/email/resetpwd.ftl</outfile>
			<url>http://localhost:8081/login/resetPwd</url>
		</resetpwd>
	</email>

	<login>
		<userid>
			<length>
				<min>3</min>
			</length>
		</userid>
		<seedkey>
			<path>WEB-INF/classes/application.properties</path>
			<filename>application.properties</filename>
		</seedkey>
	</login>

	<plugins>
		<download>
			<url>https://github.com/minziappa/abilists_plugins/raw/master/plugins/</url>
		</download>
		<api>
			<url>http://dev.abilists.com:9001</url>
		</api>
	</plugins>

	<system>
		<environment>Staging</environment>
	</system>

</config>