ul.center {
	display: inline-block;
	list-style: none;
	overflow: hidden; 
	width:100%; 
	padding-left:0px;
	margin: 0px;
}

ul li.overview {
	float:left;
	width: 48.5%;
	max-width:100%;
	background: #fff none repeat scroll 0 0;
	margin: 5px;
}

.pull-right {
    float: right;
}

.breadcrumbs-right-before:before {
    content: none !important;
}

.breadcrumbs-right-after:after {
	border-left: 1em solid #dc7272 !important;
}

.dropArea {
    outline: 2px dashed #7b8ca5 ;
    outline-offset:-10px;  
    text-align: center;
    transition: all .15s ease-in-out;
    background-color: #dde2e8;
	padding: 35px;
}

.filebox label {
	display: inline-block;
	color: #fff;
	font-size: 15px;
	line-height: normal;
	vertical-align: middle;
	background-color: #c58080;
	cursor: pointer;
	border: 1px solid #9a5c5c;
	border-radius: .25em;
	-webkit-transition: background-color 0.2s;
	transition: background-color 0.2s;
}

.filebox label:hover {
	background-color: #f1acac;
	color: #ffffff;
}

.filebox label:active {
	background-color: #ffffff;
}

.filebox input[type="file"] {
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.dropdown-menu-resume {
	position: absolute;
	min-width: 120px;
	z-index: 1000;
	padding: 5px 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	display: none;
	float: left;
	margin: 2px 0 0;
}

#newToggleId, #newSummaryId, #newToggleSkillsId, #newToggleLangId, #newToggleCertiId {
	color: #d4ebff;
}
#newToggleId:hover, #newSummaryId:hover, #newToggleSkillsId:hover, #newToggleLangId:hover, #newToggleCertiId:hover {
   	color: #ffffff;
}

ul.hashtags {
	list-style: none;
	width: 100%;
	margin: auto;
	overflow: hidden;
	padding: 0px;
	text-align: center;
}

.hashtags-box {
	list-style: none; 
	width: 171px;
	margin: 10px;
	border-radius: 3px;
	border: 1px solid #eee;
	padding: 10px;
	display: inline-block;
}
